# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build output
build/

# Ignore package-lock.json file
package-lock.json

# Ignore local.yaml files
*local.yaml